body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

#epub-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.epub-item {
  width: 200px;
  height: 250px;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.epub-item iframe {
  pointer-events: none;
}

#reader {
  width: 100vw;
  height: 100vh;
}
#swipe-left, #swipe-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%; /* ou ce que tu veux */
  z-index: 10;
}

#swipe-left { left: 0; }
#swipe-right { right: 0; }

